/* App.css */

.App {
  text-align: center;
  background-color: #f0f2f5; /* Color de fondo suave */
  padding: 20px;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: white; /* Color de fondo del encabezado */
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}

.App-logo {
  width: 50px; /* Ajusta el tamaño del logo según sea necesario */
  margin-bottom: 10px;
}

h1 {
  color: rgb(82, 82, 82);
  font-size: 24px;
  margin: 10px 0;
}

p {
  color: gray;
  font-size: 16px;
}

.ant-form-item-label > label {
  color: #1F4A6D; /* Usar un color más oscuro para las etiquetas del formulario */
}

.ant-btn-primary {
  background-color: #38A9E1;
  border-color: #38A9E1;
}

.ant-btn-primary:hover {
  background-color: #1F4A6D;
  border-color: #1F4A6D;
}
